.DS_Store
target
target/**/*
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
.settings/org.eclipse.jdt.core.prefs
*.iml
.idea
.idea/**/*
out/
*.sha1
plugin.xml
*en_PS.properties